services:
  postgres:
    image: postgres:17.4
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./script/postgres:/docker-entrypoint-initdb.d
      - postgres:/var/lib/postgresql/data:delegated
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  redis:
    image: redis:7.4.1-alpine
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis:/data:delegated
volumes:
  postgres:
  redis:
